@forward "~@primauk/scss/src/scss/components";
@forward "~@primauk/scss/src/scss/pyxis.scss";
@use "~@primauk/scss/src/scss/pyxis.scss";
@use "scss/form";

.alt-wrapper {
  @include pyxis.padding(2xs);
  @include pyxis.radius(2xs);
  background-color: pyxis.color(neutralBase);
  display: flex;
}

.list {
  @include pyxis.verticalSpacing(m);
  list-style-type: none;
  margin-top: 0;
  padding-left: pyxis.spacing(m);
}

.list__item {
  @include pyxis.verticalSpacing(3xs);
}

.full-width {
  width: 100%;
}
