@forward "~@pyxis/scss/src/scss/components";
@forward "~@pyxis/scss/src/scss/pyxis.scss";
@use "~@pyxis/scss/src/scss/pyxis.scss";

.alt-wrapper {
  @include pyxis.padding(2xs);
  @include pyxis.radius(2xs);
  background-color: pyxis.color(neutralBase);
  display: flex;
}

.list {
  @include pyxis.verticalSpacing(m);
  list-style-type: none;
  margin-top: 0;
  padding-left: pyxis.spacing(m);
}

.list__item {
  @include pyxis.verticalSpacing(3xs);
}

.link {
  color: pyxis.color(actionBase);
  cursor: pointer;

  &:hover {
    color: pyxis.color(actionDark);
    text-decoration: underline;
  }
}