@use "src/stories/pyxis.scss";

.wrapper {
  @include pyxis.columnGap(m);
  @include pyxis.rowGap(m);
  align-items: start;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}