@use "../../pyxis";

// Non-exhaustive implementation, made for testing purposes only.

$gridColor: #0094FF;
$gridColorWithModifier: #FF0000;

.form-container {
  @include pyxis.radius(xs);
  @include pyxis.rowGap(l);
  @include pyxis.verticalSpacing(l);
  background-color: rgba($gridColor, 0.1);
  display: grid;
  justify-items: center;
}

.form-container--left {
  justify-items: left;
}

.form-container--right {
  justify-items: right;
}

.form-row {
  @include pyxis.columnGap(xs);
  @include pyxis.radius(xs);
  @include pyxis.verticalPadding(s);
  background-color: rgba($gridColor, 0.2);
  border: pyxis.rem(1px) dashed $gridColor;
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;
  width: 100%;
}

.form-row--small {
  max-width: pyxis.rem(360px);
}

.form-row--large {
  max-width: pyxis.rem(720px);
}

.form-row .form-item {
  @include pyxis.radius(xs);
  background-color: $gridColor;
  height: 50px;
  width: 100%;
}

.form-row .form-item--2-col {
  grid-column: auto / span 2;
  background-color: $gridColorWithModifier;
}

.form-row .form-item--3-col {
  grid-column: auto / span 3;
  background-color: $gridColorWithModifier;
}

.form-row .form-item--4-col {
  grid-column: auto / span 4;
  background-color: $gridColorWithModifier;
}

.form-row .form-item--5-col {
  grid-column: auto / span 5;
  background-color: $gridColorWithModifier;
}
