@use "../../foundations";
@use "../../lib";
@use "mixins";
@use "variables";

.form-card {
  @include foundations.columnGap(xs);
  @include foundations.radius(s);
  @include mixins.fieldStateDefault;
  align-items: center;
  border: variables.$borderWidth solid foundations.color(neutral85);
  cursor: pointer;
  display: flex;
  padding: foundations.spacing(s) foundations.spacing(m);
  transition-duration: foundations.duration(fast);
  transition-property: border-color, box-shadow, outline-color;
  transition-timing-function: foundations.timing(base);
  width: 100%;
  will-change: border-color, box-shadow, outline-color;

  &:active:not( &--disabled ) {
    border-color: foundations.color(actionDark);
    outline-color: rgba(foundations.color(actionDark), 0.2);

    @include lib.onSafari {
      @include mixins.shadow(rgba(foundations.color(actionDark), 0.2));
    }
  }
}

.form-card--checked:not(:focus-within, :active, .form-card--error, .form-card--disabled) {
  @include foundations.elevation(s, action15);
  border-color: foundations.color(actionBase);
}

.form-card--disabled {
  @include mixins.fieldStateDisable;
}

.form-card--error {
  @include mixins.fieldStateError;

  .form-control__checkbox,
  .form-control__radio {
    @include mixins.fieldControlError;
  }
}

.form-card--large {
  @include foundations.rowGap(xs);
  @include foundations.padding(s);
  align-items: start;
  display: grid;
  grid-template-areas: ". addon input" "content content content";
  grid-template-columns: 20px auto 20px;
  grid-template-rows: auto 1fr;
  position: relative;
  text-align: center;

  .form-control__checkbox,
  .form-control__radio {
    grid-area: input;
  }
}

.form-card__content-wrapper {
  flex: 1;
  user-select: none;

  .form-card--large & {
    grid-area: content;
    padding-bottom: foundations.spacing(2xs);
  }
}

.form-card__title,
.form-card__text {
  display: block;

  .form-card--disabled & {
    color: foundations.color(neutral50);
  }
}

.form-card__title {
  @include foundations.text(m, bold, neutralBase);
}

.form-card__text {
  @include foundations.text(m, book, neutral25);
}


.form-card__addon {
  @include foundations.text(m, bold, neutralBase);
  display: inline-flex;

  .form-card--large & {
    grid-area: addon;
    justify-self: center;
    padding-top: foundations.spacing(2xs);
    width: fit-content;
  }

  .form-card--disabled & {
    color: foundations.color(neutral50);
    filter: grayscale(1);
  }
}

.form-card__addon--with-icon {
  color: foundations.color(actionBase);

  .form-card--error & {
    color: foundations.color(errorBase);
  }
}

.form-card-group {
  @include foundations.columnGap(xs);
  @include foundations.rowGap(xs);
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  justify-content: center;
  position: relative;

  @include foundations.mq(xsmall) {
    grid-auto-flow: column;
  }
}

.form-card-group--column {
  grid-auto-flow: row;
}

.form-card-group--row {
  grid-auto-flow: column;
}
