@use "../../foundations";
@use "../../lib";

$_maxColumnSpan: 5;
$_minColumnWidth: lib.rem(65px);
$_smallRowWidth: lib.rem(360px);
$_largeRowWidth: lib.rem(720px);

.form-grid {
  @include foundations.rowGap(m);
  display: grid;
  justify-items: center;
  width: 100%;
}

.form-grid--gap-large {
  @include foundations.rowGap(l);
}

.form-grid__row {
  display: grid;
  gap: foundations.spacing(l);
  grid-auto-columns: 1fr;
  grid-auto-flow: row;
  max-width: 100%;
  width: 100%;

  @include foundations.mq(xsmall) {
    grid-auto-flow: column;
    grid-template-columns: repeat(auto-fit, minmax($_minColumnWidth, 1fr));
  }
}

.form-grid__row--large {
  @include foundations.mq(xsmall) {
    max-width: $_largeRowWidth;
  }

  @include foundations.mq(small) {
    grid-template-columns: unset;
  }
}

.form-grid__row--small {
  @include foundations.mq(xsmall) {
    max-width: $_smallRowWidth;
  }

  @include foundations.mq(small) {
    grid-template-columns: unset;
  }
}

.form-grid__row__column {
  grid-column: auto;
}

@for $i from 2 through $_maxColumnSpan {
  .form-grid__row__column--span-#{$i} {
    @include foundations.mq(xsmall) {
      grid-column: auto / span $i;
    }
  }
}
