@use "../../lib";
@use "../../foundations";

.form-label {
  @include foundations.text(l, book);
  color: foundations.color(neutralBase);
  display: grid;
}

.form-label--small {
  @include foundations.text(m, book);
}

.form-label__sub {
  @include foundations.text(s, book);
  color: foundations.color(neutral25);
}
