////
/// Generated classes for label styling.
/// @group COMPONENTS
////

@use "../../lib";
@use "../../foundations";

/// Set general properties for label component
///
/// @example scss - Simple label
///   <label class="form-label">
///     This is a Label
///   </label>
///
/// @example scss - Simple label with small size
///   <label class="form-label form-label--small">
///     This is a Label
///   </label>
///
/// @example scss - Label with subtext
///   <label class="form-label">
///     Primary label
///     <small class="form-label__sub">Optional content</small>
///   </label>
///
.form-label {
  @include foundations.text(l, book);
  color: foundations.color(neutralBase);
  display: grid;
}
/// Add small label modifier
///
/// @access private
.form-label--small {
  @include foundations.text(m, book);
}

/// Define properties for the optional information
///
/// @access private
.form-label__sub {
  @include foundations.text(s, book);
  color: foundations.color(neutral25);
}