@use "src/stories/pyxis";

.item {
  @include pyxis.radius(m);
  height: pyxis.rem(70px);
  margin-bottom: pyxis.spacing(m);
  margin-top: pyxis.spacing(m);
  width: pyxis.rem(100px);
}

$borderColors: ('brand', 'action', 'neutral');

@each $color in $borderColors {
  .border-#{$color} {
    border: pyxis.rem(2px) solid pyxis.color(#{$color}Base);
  }
}
