@use "../../pyxis";

.headerWrapper {
  @include pyxis.columnGap(l);
  @include pyxis.verticalSpacing(l);
  display: grid;
  grid-template-columns: pyxis.rem(90px) auto;
  grid-template-rows: pyxis.rem(90px);
}

.logo {
  @include pyxis.radius(xl);
  background-color: pyxis.color(brandLight);
  display: grid;
  place-items: center;
}

.content {
  align-self: center;
}

.category {
  @include pyxis.text(l, book);
  color: pyxis.color(neutral25);
}

.title {
  @include pyxis.title(xl, bold);
}

.description {
  @include pyxis.verticalSpacing(m);
  @include pyxis.rowGap(xs);
  @include pyxis.text(l, light);
  display: grid;
}