// Elevation is needed in order to give depth to our components.

@use "../lib";
@use "breakpoints";
@use "colors";
@use "../tokens/elevationSizes" as *;
@use "../tokens/elevationColors" as *;

// Returns the elevation size from map $elevationSizes
//
// @param {String} $size - Name of size
// @throw {Error}
@function _elevationSize($size) {
  @return lib.get($elevationSizes, $size);
}

// Returns the elevation color from map $elevationColors
//
// @param {String} $color - Name of size
// @throw {Error}
@function _elevationColor($color) {
  @return lib.get($elevationColors, $color);
}

// Includes correct `box-shadow` based on size and color in input.
//
// @param {String} $size - Name of the size from `$elevationSizes`
// @param {String} $color - Name of the color from `$elevationColors`
@mixin elevation($size, $color) {
  box-shadow: _elevationSize($size) _elevationColor($color);
}

// Create atom classes for all elevation sizes and colors
@mixin createAtoms() {
  @each $size, $_ in $elevationSizes {
    @each $color, $_ in $elevationColors {
      .elevation-#{$size}-#{lib.camelToKebabCase($color)} {
        @include elevation($size, $color);
      }
    }
  }
}
