@use "../../pyxis";

.wrapper {
  @include pyxis.verticalSpacing(m);
  color: pyxis.color(neutral25);
}

.header {
  @include pyxis.verticalSpacing(s);
  border-bottom: pyxis.rem(1px) solid pyxis.color(neutral85);
  padding-bottom: pyxis.rem(10px);

  &:not(:first-child) {
    margin-top: pyxis.spacing(3xl);
  }
}

.category {
  @include pyxis.text(l, book);
}

.mainTitle {
  @include pyxis.title(xl, bold);
  color: pyxis.color(neutralBase);
}

.title {
  @include pyxis.title(l, bold);
  color: pyxis.color(neutralBase);
}

.description {
  @include pyxis.verticalSpacing(m);
  @include pyxis.rowGap(xs);
  @include pyxis.text(l, book);
  display: grid;
}