@use "../../../foundations";
@use "../../../lib";
@use "../mixins";
@use "../variables";

.form-control {
  @include foundations.columnGap(xs);
  @include foundations.text(m, book);
  align-items: center;
  color: foundations.color(neutral25);
  cursor: pointer;
  display: grid;
  grid-template-columns: variables.$controlSize auto;
  position: relative;
  user-select: none;
}

.form-control--disabled {
  color: foundations.color(neutral50);
  cursor: not-allowed;
}

.form-control-group {
  @include foundations.columnGap(l);
  @include foundations.rowGap(4xs);
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  position: relative;
  width: 100%;
}

.form-control-group--column {
  @include foundations.rowGap(xs);
  grid-auto-flow: row;
}
