@use "../../../foundations";
@use "../../../lib";
@use "../variables";

.form-field__autocomplete {
  color: foundations.color(neutralBase);
  height: variables.$fieldHeight;
  padding-left: foundations.spacing(s);
  width: variables.$fieldWidth;
}

.form-field__autocomplete--small {
  height: variables.$fieldHeightSmall;
  padding-left: foundations.spacing(xs);
  width: variables.$fieldWidthSmall;
}
