////
/// Generated classes for autocomplete field styling.
/// @group COMPONENTS
////

@use "../../../foundations";
@use "../../../lib";
@use "../variables";

/// Set general properties for styling autocomplete.
///
/// @access public
.form-field__autocomplete {
  color: foundations.color(neutralBase);
  height: variables.$fieldHeight;
  padding-left: foundations.spacing(s);
  width: variables.$fieldWidth;
}

.form-field__autocomplete--small {
  height: variables.$fieldHeightSmall;
  padding-left: foundations.spacing(xs);
  width: variables.$fieldWidthSmall;
}