@use "../../../foundations";
@use "../variables";

.form-field__date {
  color: foundations.color(neutral50);
  height: variables.$fieldHeight;
  padding-right: foundations.spacing(s);
  text-transform: uppercase;
  width: variables.$fieldWidth;
}

.form-field__date--filled {
  color: foundations.color(neutralBase);
}

.form-field__date--small {
  height: variables.$fieldHeightSmall;
  padding-right: foundations.spacing(xs);
  width: variables.$fieldWidthSmall;
}