////
/// Generated classes for text field styling.
/// @group COMPONENTS
////

@use "../../../foundations";
@use "../../../lib";
@use "../variables";

/// Set general properties for styling select.
///
/// @example scss - Native select field
///    <div class="form-field">
///      <label class="form-field__wrapper">
///        <select class="form-field__select">
///          <option hidden disabled selected>Placeholder</option>
///          <option value="1">Option 1</option>
///          ...
///        </select>
///        <div class="form-field__addon">
///          // Use a 20x20 svg for small input field
///          <svg width="24" height="24"></svg>
///        </div>
///      </label>
///    </div>
///
/// @example scss - Select field with custom dropdown
///    <div class="form-field form-field--with-dropdown">
///      <label class="form-field__wrapper">
///        <select class="form-field__select">
///          <option hidden disabled selected>Placeholder</option>
///          <option value="1">Option 1</option>
///          ...
///        </select>
///        <div class="form-field__addon">
///          // Use a 20x20 svg for small input field
///          <svg width="24" height="24"></svg>
///        </div>
///      </label>
///      <div class="form-field__dropdown-wrapper">
///        <div class="form-field__dropdown">
///          <div class="form-field__dropdown__item">Option 1</div>
///          ...
///        </div>
///      </div>
///    </div>
///
/// @access public
.form-field__select {
  color: foundations.color(neutral50);
  cursor: pointer;
  height: variables.$fieldHeight;
  overflow: hidden;
  padding-left: foundations.spacing(s);
  text-overflow: ellipsis;
  user-select: none;
  white-space: nowrap;
  width: variables.$fieldWidth;

  @include lib.onFirefox {
    text-indent: lib.rem(-2px);
  }

  .form-field--with-dropdown & {
    pointer-events: none;
  }
}

.form-field__select--filled {
  color: foundations.color(neutralBase);
}

.form-field__select--small {
  height: variables.$fieldHeightSmall;
  padding-left: foundations.spacing(xs);
  width: variables.$fieldWidthSmall;
}

.form-field__select--native {
  padding-right: variables.$fieldHeight;
  width: 100%;

  &.form-field__select--small {
    padding-right: variables.$fieldHeightSmall;
  }
}