@use "../../../foundations";
@use "../../../lib";
@use "../variables";

.form-field__select {
  color: foundations.color(neutral50);
  cursor: pointer;
  height: variables.$fieldHeight;
  overflow: hidden;
  padding-left: foundations.spacing(s);
  text-overflow: ellipsis;
  user-select: none;
  white-space: nowrap;
  width: variables.$fieldWidth;

  @include lib.onFirefox {
    text-indent: lib.rem(-2px);
  }

  .form-field--with-select-dropdown & {
    pointer-events: none;
  }
}

.form-field__select--filled {
  color: foundations.color(neutralBase);
}

.form-field__select--small {
  height: variables.$fieldHeightSmall;
  padding-left: foundations.spacing(xs);
  width: variables.$fieldWidthSmall;
}

.form-field__select--native {
  padding-right: variables.$fieldHeight;
  width: 100%;

  &.form-field__select--small {
    padding-right: variables.$fieldHeightSmall;
  }
}
