////
/// Generated classes for text field styling.
/// @group COMPONENTS
////

@use "../../../foundations";
@use "../../../lib";
@use "../variables";

/// Set the correct width when an addon is present.
/// @param {Number} $width - Input width
///
/// @output Appropriate `width`.
///
/// @access private
@mixin _fieldWithAddon() {
  :where(
  .form-field--with-prepend-icon,
  .form-field--with-append-icon,
  .form-field--with-prepend-text,
  .form-field--with-append-text
) & {
    @content; }
}

/// Set properties for styling input of type text.
///
/// @example scss - Default input field
///    <div class="form-field">
///      <input type="text" class="form-field__text" placeholder="Text field"/>
///    </div>
///
/// @example scss - Small input
///    <div class="form-field">
///      <input type="text" class="form-field__text form-field__text--small" placeholder="Text field"/>
///    </div>
///
/// @access public
.form-field__text {
  @include foundations.horizontalPadding(s);
  height: variables.$fieldHeight;
  width: 100%;

  @include _fieldWithAddon {
    width: variables.$fieldWidth;
  }

  .form-field--with-prepend-icon & {
    padding-left: 0;
  }

  .form-field--with-append-icon & {
    padding-right: 0;
  }
}

.form-field__text--small {
  @include foundations.horizontalPadding(xs);
  height: variables.$fieldHeightSmall;

  @include _fieldWithAddon {
    width: variables.$fieldWidthSmall;
  }
}
