@use "../../../foundations";
@use "../../../lib";

$_offset: foundations.spacing(3xs);

.form-field__textarea {
  @include foundations.text(m, book);
  display: block;
  flex: 1;
  margin: 0 $_offset $_offset 0;
  min-height: lib.rem(100px);
  padding-left: foundations.spacing(s);
  padding-top: foundations.spacing(xs);
  resize: vertical;
  width: calc(100% - #{$_offset});
}

.form-field__textarea--small {
  min-height: lib.rem(70px);
  padding-left: foundations.spacing(xs);
  padding-top: foundations.spacing(2xs);
}
