@use "../../../foundations";
@use "../../../lib";
@use "../variables";

.form-field__text {
  @include foundations.horizontalPadding(s);
  height: variables.$fieldHeight;
  width: 100%;

  .form-field--with-prepend-icon &,
  .form-field--with-append-icon &,
  .form-field--with-prepend-text &,
  .form-field--with-append-text & {
    width: variables.$fieldWidth;
  }

  .form-field--with-prepend-icon & {
    padding-left: 0;
  }

  .form-field--with-append-icon & {
    padding-right: 0;
  }
}

.form-field__text--small {
  @include foundations.horizontalPadding(xs);
  height: variables.$fieldHeightSmall;

  .form-field--with-prepend-icon &,
  .form-field--with-append-icon &,
  .form-field--with-prepend-text &,
  .form-field--with-append-text & {
    width: variables.$fieldWidthSmall;
  }
}
