////
/// Generated classes for text field styling.
/// @group COMPONENTS
////

@use "../../../foundations";
@use "../../../lib";

$_offset: foundations.spacing(3xs);

/// Set properties for styling textarea.
///
/// @example scss - Default Textarea
///    <div class="form-field">
///      <textarea class="form-field__textarea" placeholder="Text area" />
///    </div>
///
/// @example scss - Textarea small
///    <div class="form-field form-field--small">
///      <textarea class="form-field__textarea form-field__textarea--small" placeholder="Text area" />
///    </div>
///
/// @access public
.form-field__textarea {
  display: block;
  flex: 1;
  margin: 0 $_offset $_offset 0;
  min-height: lib.rem(100px);
  padding-left: foundations.spacing(s);
  padding-top: foundations.spacing(xs);
  resize: vertical;
  width: calc(100% - #{$_offset});
}

.form-field__textarea--small {
  min-height: lib.rem(70px);
  padding-left: foundations.spacing(xs);
  padding-top: foundations.spacing(2xs);
}