@use "../foundations";
@use "../lib";

$_size: (
  s: 16px,
  m: 20px,
  l: 24px,
);

$_variants: (brand, alert, success, error);

// Add background-color and color to icon.
//
// @param {Color} $background - Background color name
// @param {Color} $icon - Color name
@mixin _setColors($background, $icon) {
  background-color: foundations.color($background);
  color: foundations.color($icon);
}

.icon {
  display: block;
}

@each $sizeName, $sizeValue in $_size {
  .icon--size-#{$sizeName} {
    height: lib.rem($sizeValue);
    width: lib.rem($sizeValue);
  }
}

.icon--boxed {
  @include foundations.padding(xs);
  @include foundations.radius(m);
  @include _setColors(neutral95, neutral25);
  box-sizing: content-box;
  display: flex;
  place-items: center;

  @each $variant in $_variants {
    &.icon--#{$variant} {
      @include _setColors(#{$variant}Light, if($variant == "alert", neutral25, #{$variant}Base));
    }
  }

  &.icon--alt {
    @include _setColors(neutralLight, brandBase);
  }
}

.icon--spinner {
  animation: spin 2s linear forwards;

  @keyframes spin {
    from {
      transform: rotate(0);
    }
    to {
      transform: rotate(360deg);
    }
  }
}
