// Generated classes for link styling.
@use "../foundations";
@use "../lib";
@use "mixins";

// Generate linear gradient for underline animation
@mixin _underlineGradient($color) {
  background-image: linear-gradient(to right, $color 0%, $color 33%, transparent 33%, transparent 66%, $color 66%, $color 100%);
}

.link {
  $color: foundations.color(actionBase);

  @include _underlineGradient($color);
  @include mixins.focus($color);
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: 300% lib.rem(1px);
  border-radius: lib.rem(1px);
  color: $color;
  display: inline;
  text-decoration: none;
  transition: background-position foundations.duration(slow) foundations.timing(base);
  will-change: background-position;

  &:hover {
    background-position: 0 100%;
  }
}

.link--alt {
  $color: foundations.color(neutralLight);

  @include _underlineGradient($color);
  @include mixins.focus($color);
  color: $color;
}
