// Generated classes for link styling.
@use "../foundations";
@use "../lib";
@use "mixins";

// Generate linear gradient for underline animation
//
// @param {Color} $color - The name of the color
@mixin _underlineGradient($color) {
  background-image: linear-gradient(to right, $color 0%, $color 33%, transparent 33%, transparent 66%, $color 66%, $color 100%);
}

// Set color properties
//
// @param {Color} $colorName - The name of the color
@mixin _setColors($colorName) {
  @include _underlineGradient(foundations.color($colorName));
  @include mixins.focus($colorName);
  color: foundations.color($colorName);
}

.link {
  @include foundations.fontWeight(bold);
  @include _setColors(actionBase);
  background-position: 100% 100%;
  background-repeat: no-repeat;
  background-size: 300% lib.rem(1px);
  border-radius: lib.rem(1px);
  display: inline;
  text-decoration: none;
  transition: background-position foundations.duration(slow) foundations.timing(base);
  will-change: background-position;

  &:hover {
    background-position: 0 100%;
  }
}

.link--alt {
  @include _setColors(neutralLight);
}
