@use "../foundations";
@use "../lib";

// Add CSS rules for focus status, used in buttons and links.
//
// @param {Color} $colorName - Value of focus color
// @param {Bool} $inset - Positioning of focus
// @param {Value} $offset - Offset size
// @param {Value} $width - Width of focus
// @param {Value} $opacity - Opacity oof outline
// @param {String} $radiusSize - Radius of the item
@mixin focus($colorName, $inset: false, $offset: lib.rem(2px), $width: lib.rem(3px), $opacity: 0.2, $radiusSize: null) {
  &:focus,
  &:focus-within {
    outline: rgba(foundations.color($colorName), $opacity) solid $width;
    outline-offset: $offset;

    @include lib.onSafari {
      outline: none;
      position: relative;

      &:before {
        $beforeOffset: if($inset, -($width + ($offset * 2)), -($width + $offset));

        @if($radiusSize) {
          @include foundations.radius($radiusSize);
        }

        border: $width solid foundations.color($colorName);
        bottom: $beforeOffset;
        content: "";
        left: $beforeOffset;
        opacity: $opacity;
        position: absolute;
        right: $beforeOffset;
        top: $beforeOffset;
      }
    }
  }
}

// Add properties to create and animate a backdrop
@mixin backdrop() {
  @include foundations.fixed;
  @include foundations.hideScrollbar;
  background-color: rgba(foundations.color(neutralBase), 0.5);
  opacity: 0;
  pointer-events: none;
  transition-duration: foundations.duration(fast);
  transition-property: opacity, visibility;
  transition-timing-function: foundations.timing(entrance);
  visibility: hidden;
  will-change: opacity, visibility;
  z-index: foundations.zIndex(modal);

  &--show {
    opacity: 1;
    pointer-events: all;
    visibility: visible;
  }
}

// Add properties to add and animate a bottomSheet
//
// @param {Value} $minHeight - Minimum bottomSheet height
@mixin bottomSheet($minHeight) {
  @include foundations.radius(m, top);
  @include foundations.fixed($top: initial);
  @include foundations.hideScrollbar;
  background-color: foundations.color(neutralLight);
  grid-auto-rows: min-content;
  height: min-content;
  max-height: calc(100vh - #{foundations.spacing(2xl)});
  min-height: $minHeight;
  transform: translateY(100%);
  transition-duration: foundations.duration(slow);
  transition-property: opacity, transform;
  transition-timing-function: foundations.timing(entrance);
  width: 100%;
  will-change: opacity, transform;
}


// Add a background image with a proper color.
//
// @param {String} $image - An svg with '%%COLOR%%' placeholder
// @param {Color} $color - Color name
@mixin backgroundImage($image, $color: neutralLight) {
  $escapedColor: lib.stringReplace("#{foundations.color($color)}", "#", "%23");
  $svg: lib.stringReplace($image, "%%COLOR%%", $escapedColor);

  background-image: url("data:image/svg+xml,#{$svg}");
}

