@use "../lib";
@use "../foundations";
@use "./mixins";

// Allowed sizes of modals
$_sizes: (small, medium, large);

// Allowed sizes of modals depending on breakpoints
$_sizesOnBp: (
  xsmall: lib.rem(500px),
  medium: lib.rem(800px),
  large: lib.rem(1000px),
);

.modal-backdrop {
  @include mixins.backdrop;
  align-items: end;
  display: grid;
  justify-items: center;

  @include foundations.mq(xsmall) {
    align-items: start;
  }
}

.modal-close {
  @include foundations.absolute;
}

.modal {
  $minHeight: lib.rem(200px);
  $offset: lib.rem(80px);

  display: grid;

  @include foundations.mq(base, xsmall) {
    @include mixins.bottomSheet($minHeight);
  }

  @include foundations.mq(xsmall) {
    @include foundations.radius(m);
    background-color: foundations.color(neutralLight);
    height: min-content;
    margin: $offset 0;
    min-height: $minHeight;
    opacity: 0;
    transform: scale(0.9) translateY(10%);
    transition-duration: foundations.duration(base);
    transition-property: opacity, transform;
    transition-timing-function: foundations.timing(entrance);
    width: 100%;
    will-change: opacity, transform;
  }

  .modal-backdrop--show & {
    transform: translateY(0);

    @include foundations.mq(xsmall) {
      opacity: 1;
      transform: scale(1) translateY(0);
    }
  }
}

// Generate size classes
@each $size in $_sizes {
  .modal--#{$size} {
    @each $bp, $value in $_sizesOnBp {
      @if foundations.isLowerOrEqualTo($bp, $size) {
        @include foundations.mq($bp) {
          max-width: $value;
        }
      }
    }
  }
}

.modal--center {
  @include foundations.mq(xsmall) {
    place-self: center;
  }
}

.modal__header {
  @include foundations.columnGap(xs);
  @include foundations.padding(m);
  @include foundations.radius(m, top);
  background: foundations.color(neutralLight);
  display: grid;
  grid-template-columns: auto max-content;
  height: fit-content;
  padding-bottom: foundations.spacing(xs);
  z-index: 1;

  @include foundations.mq(base, xsmall) {
    @include foundations.sticky;
  }

  @include foundations.mq(xsmall) {
    padding: foundations.spacing(2xl) foundations.spacing(2xl) foundations.spacing(s);
  }
}

.modal__header__wrapper {
  @include foundations.columnGap(s);
  @include foundations.rowGap(2xs);
  align-items: center;
  display: grid;
  grid-template-areas: "badge badge";
  justify-content: start;
  justify-items: start;
}

.modal__header__badge {
  grid-area: badge;
}

.modal__header__title {
  @include foundations.title(s, bold);
}

.modal__content {
  @include foundations.horizontalPadding(m);
  padding-bottom: foundations.spacing(xs);
  padding-top: foundations.spacing(3xs);

  @include foundations.mq(xsmall) {
    padding: 0 foundations.spacing(2xl);
  }
}

.modal__footer {
  @include foundations.padding(m);
  align-items: center;
  background: foundations.color(neutralLight);
  display: flex;
  flex-wrap: wrap;
  gap: foundations.spacing(xs);
  justify-content: end;
  z-index: 1;

  @include foundations.mq(base, xsmall) {
    @include foundations.sticky;
  }

  @include foundations.mq(xsmall) {
    @include foundations.radius(m, bottom);
    gap: foundations.spacing(s);
    padding: foundations.spacing(m) foundations.spacing(2xl);
  }
}

.modal__footer--alt {
  background-color: foundations.color(neutralBase);
  color: foundations.color(neutralLight);
  margin-top: foundations.spacing(l);
}

.modal__footer__text {
  flex: 1 min-content;
}

.modal__footer__buttons {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  gap: foundations.spacing(xs);
  height: fit-content;
  justify-content: end;

  @include foundations.mq(xsmall) {
    gap: foundations.spacing(s);
  }
}

.modal__footer__buttons--full-width {
  @include foundations.mq(base, xsmall) {
    display: grid;
    grid-template-columns: 1fr;
    width: 100%;
  }

  .button:first-child:not(:only-child) {
    grid-row: end;
  }
}

.modal__header--sticky,
.modal__footer--sticky {
  @include foundations.sticky;
}

.modal__header__wrapper--custom,
.modal__footer--custom {
  align-items: unset;
  gap: unset;
  grid-template-areas: none;
  justify-content: unset;
  justify-items: unset;
}
